@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/AtkinsonHyperlegible-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/AtkinsonHyperlegible-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1.1rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    margin-top: 2rem;
}

.card-body {
    padding: 0rem;
}

.container {
    max-width: 900px;
}

.highlight {
    margin: 0.5rem;
    border-radius: var(--bs-card-border-radius);
    overflow-x: auto;
}

.card {
    margin-bottom: 3rem;
}

td.linenos {
    color: #999;
    padding: 0.5rem;
    background-color: #2d3440;
    border-right: 1px solid #2f3640;
    border-radius: var(--bs-card-border-radius) 0 0 var(--bs-card-border-radius);
}

td.linenos span {
    background-color: transparent!important;
}

td.code {
    padding-left: 0.5rem;
}

footer.footer {
    margin-top: 2rem;
    margin-bottom: 8rem;
}

blockquote {
    border-left: 0.25rem solid #2d3440;
    padding-left: 1rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
}

table {
    margin-bottom: 3rem;
    border-bottom: 1px solid #2f3640;
    border-top: 1px solid #2f3640;
    width: 100%;
}

table.highlighttable {
    margin-bottom: 0;
    border-bottom: 0;
    border-top: 0;
    width: auto;
}

th {
    padding: 0.5rem;
}

td {
    vertical-align: top;
    padding: 0.5rem;
}

thead th {
    border-bottom: 1px solid #2f3640;
}


