<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>$title</title>

    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
            $body
            </div>

            <footer class="footer col-12">
                by <a href="https://www.noda.se">NODA Intelligent Systems AB</a> |
                <a href="https://github.com/noda/byexample">source</a> |
                <a href="https://github.com/noda/byexample/blob/main/LICENSE">license</a> | 
                Last updated: <span class="last-updated">$last_updated</span>
            </footer>
        </div>
    </div>
</body>
</html>