/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Georgia', serif;
	font-size: 16px;
	line-height: 20px;
	color: #252519;
}

section.intro {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

section.example {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

section.example div.details {
	background: linear-gradient(90deg, #FFFFFF 50%, #ffffdd 50%);
	margin-top: 2rem;
	border-radius: 0.3rem;
	overflow: hidden;
	width: 100%;
}

section.example h1, section.example h2, section.example h3 {
	width: 100%;
}

section.example div.details > * {
	width: 50%;
	float: left;
	clear: left;
}

section.example div.details hr {
	width: 100%;
	display: block;
	border: 0;
	clear: both;
}

h1 {
	font-size: 34px;
	line-height: 42px;
	margin-top: 42px;
}
h2 {
	font-size: 30px;
	line-height: 38px;
	margin-top: 38px;
}
h3 {
	font-size: 26px;
	line-height: 34px;
	margin-top: 34px;
}

p {
	margin-top: 0.75rem;
}

footer {
	margin-top: 5rem;
	color: grey;
	clear: both!important;
}

ul, ol {
	margin-top: 0.75rem;
}

li {
	margin-bottom: 0.25rem;
}

a, a:visited {
	color: #017698;
}

